<script>
    const formDelete = document.querySelector("#form-delete")
        
    formDelete.addEventListener("submit", function(event) {
        const confirmation = confirm('Deseja Deletar')

        if (!confirmation) {
            {# Cancela o evento submit, não deletando o dado #}
            event.preventDefault()
        }
    })
</script>